<div class="user-container">
  @loggedIn
    <div>
      {{ auth.user.username }}
    </div>
    <div id="logout">
      {{ toAnchor('./logout', 'Logout') }}
    </div>
  @else
    <div id="login">
      {{ toAnchor('./login', 'Sign In') }}
    </div>
    <div id="register">
      {{ toAnchor('./register', 'Sign Up') }}
    </div>
  @endloggedIn
</div>